{% extends 'base.html'%}


{% block banner %} Compare {% endblock banner%}
{% block subtext %} Compare {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

  <!-- ***** Dento Pricing Table Area End ***** -->



{% block content %}


{% endblock content %}

{% block Pricing %}
<section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table id="myTable" class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">{{PhoneSpecifications[1]}}</th>
                  <th scope="col">{{data[1]}}</th>
                  <th scope="col">{{PhoneSpecifications[1]}}</th>
                  <th scope="col">{{data1[1]}}</th>
                </tr>
              </thead>
              <tbody>
                  {% for i in range(2,Len) %}
                  <tr>
                      <td>{{PhoneSpecifications[i]}}</td>
                      <td>{{data[i]}}</td>
                      <td>{{PhoneSpecifications[i]}}</td>
                      <td>{{data1[i]}}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                      <td>Buy Now</td>
                      <td><a href='https://www.amazon.in/s?k={{data[1]}}'>Amazon</a></td>
                      <td>Buy Now</td>
                      <td><a href='https://www.amazon.in/s?k={{data1[1]}}'>Amazon</a></td>
                  </tr>
                  <tr>
                      <td>Buy Now</td>
                      <td><a href='https://www.flipkart.com/search?q={{data[1]}}'>Flipkart</a></td>
                      <td>Buy Now</td>
                      <td><a href='https://www.flipkart.com/search?q={{data1[1]}}'>Flipkart</a></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}

{% block Testimonials %}
{% endblock Testimonials %}

{% block TheLatestNews %}
{% endblock TheLatestNews %}