{% extends 'base.html'%}


{% block banner %} menu {% endblock banner%}
{% block subtext %} menu {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

{% block content %}


{% endblock content %}

{% block Pricing %}
  <!-- ***** Dento Pricing Table Area Start ***** -->
  </table>
  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Sno</th>
                  <th scope="col">Functions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                	<th scope="row"><li><a href="/"></a></li>1.</th>
                	<td><form action="/addphone" name="1." method="post">
					<input type="submit" style="border:none;" value="Add a phone to the main table" />
					</form></td>
               	<tr>
                  <th scope="row">2.</th>
                  <td><form action="/addother" name="2." method="post">
    					<input type="submit" style="border:none;" value="Add a produc to the main table" />
						</form></td>
				<tr>
					<th scope="row"><li><a href="/"></a></li>3.</th>
		            	<td><form action="/addlaptop" name="3." method="post">
						<input type="submit" style="border:none;" value="Add a laptop to the main table" />
        <tr>
                  <th scope="row">4.</th>
                  <td><form action="/laptops" name="4." method="post">
              <input type="submit" style="border:none;" value="Add the details for the given laptops" />
            </form></td>
						</form></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Pricing Table Area End ***** -->
{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}

{% block Testimonials %}
{% endblock Testimonials %}

{% block TheLatestNews %}
{% endblock TheLatestNews %}