{% extends 'base.html'%}

{% block title %}Miscellaneous{% endblock %}
{% block banner %} Miscellaneous {% endblock banner%}
{% block subtext %} Miscellaneous {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

  <!-- ***** Dento Pricing Table Area End ***** -->



{% block content %}


{% endblock content %}

{% block Pricing %}

{% if data %}
    <div class="container"> 
       <div class="single-widget-area search-widget">
        <form method="post" class="search" >
          <input type="search" name="NameFilter" class="form-control" onblur="if(this.value=='')this.value='Search by Product Name'; "onfocus="if(this.value=='Search by Product Name')this.value='';" value="Search by Product Name" >
          <button type="submit"><i class="icon_search"></i></button>
        </form>
      </div>
      <div class="single-widget-area search-widget">
        <form method="post" class="search" >
          <input type="search" class="form-control" name="BrandFilter" onblur="if(this.value=='')this.value='Search by Company Name'; "onfocus="if(this.value=='Search by Company Name')this.value='';" value="Search by Company Name">
          <button type="submit"><i class="icon_search"></i></button>
        </form>
      </div>
    </div>
  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table id="myTable" class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Company</th>
                  <th scope="col">Date of Launch</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                  <tr>
                    <th scope="row"><li><a href="https://www.amazon.in/s?k={{item[1]}}&ref=nb_sb_noss_2">{{item[1]}}</a></li></th>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                  </tr>
                {% endfor %}
             </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>


{% else %}
<center>
      <h1>No Such Entries Present</h1>
      <p> Please Broaden Search Parameters </p>
</center>
{% endif %}
    
    <div class="container"> 
      <div class="more-btn text-center mt-50">
        <a href="/others" class="btn dento-btn">Reset Filters</a>
      </div>
    </div>
    <br>

{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}

{% block Testimonials %}
{% endblock Testimonials %}

{% block TheLatestNews %}
{% endblock TheLatestNews %}