{% extends 'base.html'%}


{% block banner %} Phones {% endblock banner%}
{% block subtext %} Phones {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

  <!-- ***** Dento Pricing Table Area End ***** -->



{% block content %}


{% endblock content %}

{% block Pricing %}
<div class="container"> 
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for the product you'd like to see..">
  </div>
  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table id="myTable" class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Company</th>
                  <th scope="col">Date of Launch</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                  <tr>
                    <th scope="row"><li><a href="https://www.amazon.in/s?k={{item[1]}}&ref=nb_sb_noss_2">{{item[1]}}</a></li></th>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                  </tr>
                {% endfor %}
			        </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
    <div class="col-12">
      <div class="more-btn text-center mt-50">
        <a href="/phones" class="btn dento-btn">See all <i class="fa fa-angle-double-right"></i></a>
      </div>
      <br>
      <br>
    </div>




<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("th")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}

{% block Testimonials %}
{% endblock Testimonials %}

{% block TheLatestNews %}
{% endblock TheLatestNews %}