{% extends 'base.html'%}


{% block banner %} Phones {% endblock banner%}
{% block subtext %} Phones {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

  <!-- ***** Dento Pricing Table Area End ***** -->



{% block content %}


{% endblock content %}

{% block Pricing %}

  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table id="myTable" class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Company</th>
                  <th scope="col">Date of Launch</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                  <tr>
                    <th scope="row"><li><a href="https://www.amazon.in/s?k={{item[1]}}&ref=nb_sb_noss_2">{{item[1]}}</a></li></th>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                  </tr>
                {% endfor %}
			        </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container"> 
      <div class="col-12">
      <form method="post" class="search" >
        <div >
          <input class="form-control mb-30" type="text" name="NameFilter" onblur="if(this.value=='')this.value='Search by Phone Name'; "onfocus="if(this.value=='Search by Phone Name')this.value='';" value="Search by Phone Name">
        </div>
      </form>
      <form method="post" class="search" >
        <div >
          <input class="form-control mb-30" type="text" name="BrandFilter" onblur="if(this.value=='')this.value='Search by Company Name'; "onfocus="if(this.value=='Search by Company Name')this.value='';" value="Search by Company Name">
        </div>
      </form>
      <div class="more-btn text-center mt-50">
        <a href="/phones" class="btn dento-btn">Reset Filters</a>
      </div>
    </div>
  </div>
    </div>
  </section>



{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}

{% block Testimonials %}
{% endblock Testimonials %}

{% block TheLatestNews %}
{% endblock TheLatestNews %}