{% extends 'base.html'%}
{% block title %} Login {% endblock %}
{% block banner %} Please Login Below {% endblock banner%}
{% block subtext %} Login {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

{% block content %}
  {% if ListOfSno %}
    <center>
      <h2>Thanks! Data entries of Sno. {{ ListOfSno }} will be added!</h2>
      <p> Please check the 'Phones' page for more information </p>
    </center>
    <br/><br/><br/>
  {% endif %}

{% endblock %}

{% block Pricing %}
{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}

{% block Testimonials %}
{% endblock Testimonials %}

{% block TheLatestNews %}
{% endblock TheLatestNews %}






