{% extends 'base.html'%}
{% block title %}Our Sevices{% endblock %}
{% block banner %} Services {% endblock banner%}
{% block subtext %} Services {% endblock subtext %}

{% block WelcomeArea %}
{% endblock WelcomeArea %}

{% block AboutContent %}
{% endblock AboutContent %}

{% block content %}

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{{url_for('static', filename='website/img/core-img/s6.png')}}" alt="">
            </div>
            <h5>Phone Reccomendations</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{{url_for('static', filename='website/img/core-img/s7.png')}}" alt="">
            </div>
            <h5>Laptop Reccomendations</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{{url_for('static', filename='website/img/core-img/s8.png')}}" alt="">
            </div>
            <h5>Headphones and Other Products</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{{url_for('static', filename='website/img/core-img/s9.png')}}" alt="">
            </div>
            <h5>Stellar Support</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

{% endblock %}


{% block Pricing %}
{% endblock Pricing %}

{% block Consultations %}
{% endblock Consultations %}

{% block Reccomendations %}
{% endblock Reccomendations %}





